<!DOCTYPE html>
<html>
<head>
    <title>Products list</title>
</head>
<body>
    <h1>Products list</h1>
    <table>
        <thead>
            <tr>
                <th>user id</th>
                <th>product name</th>
                <th>calories</th>
                <th>protein</th>
                <th>fat</th>
                <th>carbohydrates</th>
                <th>barcode</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.user_id }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.calories }}</td>
                    <td>{{ product.protein }}</td>
                    <td>{{ product.fat }}</td>
                    <td>{{ product.carbohydrates }}</td>
                    <td>{{ product.barcode }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
