asgiref==3.6.0
backcall==0.2.0
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
colorama==0.4.6
debugpy==1.6.6
decorator==5.1.1
Django==3.2.18
entrypoints==0.4
ipykernel==6.16.2
ipython==7.34.0
jedi==0.18.2
jupyter_client==7.4.9
jupyter_core==4.12.0
matplotlib-inline==0.1.6
mysql-connector-python==8.0.32
mysql-connector-python-rf==2.2.2
nest-asyncio==1.5.6
packaging==23.0
parso==0.8.3
pickleshare==0.7.5
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.4
psycopg2-binary==2.9.5
Pygments==2.14.0
PyMySQL==1.0.2
python-dateutil==2.8.2
pytz==2023.2
pywin32==305
pyzmq @ file:///C:/ci/pyzmq_1657597757589/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sqlparse==0.4.3
tornado==6.2
traitlets==5.9.0
typing_extensions==4.5.0
wcwidth==0.2.6
wincertstore==0.2
